@import url('https://fonts.googleapis.com/css2?family=Gupter:wght@400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: rgb(0, 0, 0);
  color: #fff;
  font-family: "Gupter", serif;
  font-weight: 400;
  font-style: normal;
}
/*--------------------------------------------nav styles---------------------------------------*/
nav{
  background: #000;
  padding: 4%;
  position: fixed;
}
.container-fluid ul li a{
  width: 100px;
  padding: 10px;
  margin: 6px;
  border-radius: 5px;
  text-align: center;
  text-transform: capitalize;
 
}
.container-fluid ul li a:hover{
  border-top: none;
  border-right: none;
  border-left: none;
  border: 2px solid white;
  border-radius: 5px;
  transform: scale(1.1);
}
.navbar-brand, .offcanvas-title{
  text-transform: capitalize;
}
.closeIcon{
  font-size: 1.2em;
  font-weight: bolder;
  margin-right: 7px;
  color: white;
}
/*-------------------------------------------home styles-------------------------------------------*/
.Imgcontainer{
  width: 100%;
  height: 800px;
  position: relative;
  margin-bottom: 19px;

}
.img{
width: 100%;
height: 800px;
object-fit: cover;
}
.imgContent{
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.intro{
  text-transform: capitalize;
  font-size: 3.5em;
  }
  .italic{
    text-transform: capitalize;
    font-style: italic;
    font-size: 1.5em;
  }
  .intro-text{
    width: 100%;
    padding: 2%;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
  }
  .intro-links{
    width: 100%;
    padding: 2%;
    display: flex;
    justify-content: space-between;
  }
  .btn{
    border: 2px solid rgb(255, 255, 255);
    text-transform: capitalize;
    font-size: 20px;
    width: 160px;
  }
  .btn a{
    text-decoration: none;
    color: #fff;
  }
  .btn:hover{
    border: 3px solid rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    color: #ff0000;
  }

 /*-----------------------------------------about---------------------------------------*/
 #about{
  margin-top: 40px;
  }
  .About, .contact{
    text-align: center;
    text-transform: capitalize;
    font-size: 3.9em;
    font-weight: 400;
    padding: 3%;
  }
    /*-------------------------------------------------------------portfolio---------------------------------------------*/
    .services{
      text-align: center;
      font-size: 2em;
      text-transform: capitalize;
      padding: 3%;
      margin: 10px;

      font-weight: 400;
    }
    .iconDiv{
      width: 100%;
      display: flex;
      justify-content: center;
    }
    .FaCamera{
      color: rgb(21, 0, 255);
      font-size: 3em;
      padding: 4px;
      margin: 6px;
    }
    .videography, .photography{
      background: #262626;
      border-radius: 10px;
      font-size: 16px;
      margin: 10px;
      padding: 25px;
    }
    .videography:hover, .photography:hover{
    cursor: pointer;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #16cfe787);
      transform: translateY(-10px);
      margin: 10px;
    }
    .serviceGraph{
      font-size: 1.5em;
      text-transform: capitalize;
    }
    
    /*------------------------------------------------------------------projects------------------------------------------------------------------------*/
    .work-list{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-gap: 40px;
      margin-top: 50px;
    }
    .work{
      border-radius: 10px;
      position: relative;
      overflow: hidden;
    
    }
    .work img{
      width: 100%;
      border-radius: 10px;
      display: block;
      transition: transform 0.5s;
    }
    .layer{
      width: 100%;
      height: 0;
      background: linear-gradient(rgba(0, 0, 0, 0.6), #1ecbe1);
      border-radius: 10px;
      position: absolute;
      left: 0;
      bottom: 0;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 0 40px;
      text-align: center;
      font-size: 14px;
      transition: height 0.5s;
    }
    .layer h3{
      font-weight: 500;
      text-transform: capitalize;
      margin-bottom: 20px;
    }
    .layer a{
      display: flex;
      justify-content: center;
      margin-top: 20px;
      color: #ff004f;
      text-decoration: none;
      line-height: 16px;
      background: #fff;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      text-align: center;
      align-items: center;
    }
    .services-span{
      color: #ff0048;
      font-size: 19px;
    }
    .layer a .FaExternalLinkAlt{
      font-size: 25px;
    }
    .work:hover img{
      cursor: pointer;
      transform: scale(1.1);
    }
    .work:hover .layer{
      height: 100%;
    }
      /*----------------------------------------contact------------------------------*/
  #contact{
    margin-top: 15vh;
  }
  .contact-info a{
    text-decoration: none;
    font-size: 16px;
    color: #ff00bb;
  } 
  .net-Icons{
    font-size: 35px;
    margin: 10px;
  }
  .net-Icons:hover{
    color: #ff0048;
    cursor: pointer;
    transform: scale(1.3);
  }
  label{
    text-transform: capitalize;
    font-size: 20px;
    text-align: center;
  }
  #first-name, #last-name, #email, #phone{
    width: 250px;
    margin: 10px;
    padding: 10px;
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #fff;
    text-transform: capitalize;
  }
  .text-area-header{
    margin-top: 15px;
  }
 
  #text-area:hover, #first-name:hover, #last-name:hover, #email:hover, #phone:hover{
  border: 2px solid #fff;
  cursor: pointer;
  }
  .formBtn{
    width: fit-content;
    display: flex;
    justify-content: center;
  }
  .fromBtn{
    width: 200px;
    font-size: 20px;
    text-transform: capitalize;
    padding: 6px;
    margin: 12px;
    border-radius: 8px;
    background: none;
    border: 2px solid #fff;
    color: #fff;
  }
  .fromBtn:hover{
    background: #fff;
    border: 2px solid #3a4443;
    color: #000;
  }
  .custom-textarea {
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #fff;
    resize: vertical; 
}
.custom-textarea:hover {
border: 2px solid #fff;
background: none;
}
 /*-------------------------------------------------club pictures--------------------------------------------------------*/
  
 .col-sm-3{
  margin: 10px;

}
.clubImages{
width: 100%;
height: 100%;
object-fit: contain;
padding: 5px;
}
.stretch{
width: fit-content;
}
 .clubImageStretch{
width: 610px;

}
.text-custom {
  color: #ff003c; /* Example custom color */
}
.clubText{
  font-size: 20px;
}
  /*-------------------------------------------------events---------------------------------------------------------*/
  
  .events{
    width: fit-content;
    height: auto;
    }
    .eventsImages{
      width: 400px;
      height: 500px;
    }


    /*----------------------------------sports------------------------------------*/
    .intro-videos{
      text-align: center;
    }
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #000;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.clubs{
  margin-top: 10vh;
}
.FaHome {
  font-size: 2.3em;
  margin-top: 12vh;
  margin-left: 10px;
  color: #fff;

}
a .FaHome:hover{
  cursor: pointer;
  transition: all .5s;
  transform: scale(1.2);
  color: #ff0048;
}
   
    /*----------------------footer------------------*/
    .copy-write{
      font-size: 20px;
      text-align: center;
      margin-top: 40px;
      margin-bottom: 20px;
    }
    .footer{
text-align: center;
background-color: red;
    }